-content_for :head do
  %title BetterSheet: Simple Cost Estimation and Tracking for Construction
  %meta{ :name => :keywords, :content => 'cost estimation, cost tracking, sign up'}
  
#sign_up.content.invites
  %h1 Coming Soon: A Better Way to Manage Project Cost than Spreadsheets.

  %h2 
    BetterSheet will give you simple tools to seamlessly create cost estimates, track project
    costs in real-time, and communicate with your team.
  
  %ol
    %li
      %summary Organize your Estimates.
      %p
        BetterSheet remembers every change you make to an estimate.  Record
        estimates using unit costs with takeoffs, time-based recurring
        costs, subcontracts based on multiple bids, or simple amounts.
    %li
      %summary Track project Cost.
      %p
        Quickly record cost on a line-by-line, project-by-project basis.  BetterSheet
        gives you a real-time dashboard showing how actual costs compare to
        expected.  

    %li
      %summary Collaborate with your Team.
      %p
        Sharing is easy with BetterSheet.  Give full access to colleagues so you
        can work together, or keep the whole team informed with read-only access.
      

  = form_for @invite do |f|
    =hidden_field_tag :source, 'sign_up'
  
    -if @invite.errors.any?
      #error_explanation
        %h2= "#{pluralize(@invite.errors.count, "error")} prohibited this invite from being saved:"
        %ul
          - @invite.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :email
      = f.text_field :email, {:type => :email, :placeholder => 'Email address'}

    .actions
      = f.submit "Tell me when it's ready", {:class => :button}
  %p   
    Or,
    =link_to 'learn more about BetterSheet', '/about'