= form_for @suggestion do |f|
  -if @suggestion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@suggestion.errors.count, "error")} prohibited this suggestion from being saved:"
      %ul
        - @suggestion.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email, 'Your email'
    = f.text_field :email
  .field
    = f.label :suggestion
    = f.text_area :suggestion
  .actions
    = f.submit 'Suggest'
