!!! html
%html
  %head
    %meta{ :name => "google-site-verification", :content => "62FxISzoi0_1GKcEpmBdBCs_eb_6Su7r4ZTjc6IwaCo"}
    = stylesheet_link_tag    "application", {:class => :cssfx }
    = javascript_include_tag "application"
    = csrf_meta_tags
  
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27281814-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    = yield :head
    
  %body
    .wrapper
      %header
        .left
          .logo
            =link_to sign_up_invites_path do
              %span.accent> Better
              Sheet
      
      
        %nav.right
          =link_to 'Recommend', recommend_invites_path
          =link_to 'About', '/about'
          =link_to 'Suggestions?', new_suggestion_path

  
      = yield
    
      .push
      
    %footer
      %p
        BetterSheet is being built by Ryan Michael.  Copyright &copy;2011, All Rights Reserved.
      %nav
        =link_to 'Recommend', recommend_invites_path
        &#149;
        =link_to 'About', '/about'
        &#149;
        =link_to 'Suggestions', new_suggestion_path
        &#149;
        =link_to 'Contact', 'mailto:support@bettersheet.com'
        

